/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/laravel.log
/public/img_temp
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
!GraphQLUploadMiddleware.php
laravel-echo-server.json
phpunit.phar
.rnd
